.jogo_nome{
    font-family: var(--fonte-nome);
}

.swiper-button-next,
.swiper-button-prev{
    font-size: 2rem;
    aspect-ratio: 1/1;
    width: max-content;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    transition: 0.1s ease-in-out;
}

.swiper-button-next:active,
.swiper-button-prev:active{
    transition: 0.1s ease-in-out;
    transform: scale(0.9);
}

/* Customizando a seta no botão próximo */
.swiper-button-next::after {
    content: '';                          /* Seta personalizada */
    font-size: 20px;
  }
  
  /* Customizando a seta no botão anterior */
  .swiper-button-prev::after {
    content: '';
    font-size: 20px;
  }


/*--------------------------------------------------------------*/
.swiper-banner{
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid var(--cor-terciaria);
}

.swiper-banner .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-banner .swiper-pagination-bullet{
    background: var(--cor-terciaria);
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.918) 33%, rgba(0, 0, 0, 0.26) 66%, rgba(0, 0, 0, 0) 100%);
    flex-grow: 1;
    padding: 5vh 55% 5vh 5vw;
    height: 100%;
    gap: 0.7em;
}
.banner_mensagem{
    padding: 0.1em 0.3em;
    background-color: var(--cor-quarta);
    color: var(--cor-primaria);
}
.banner_nome{
    font-family: var(--fonte-nome);
    font-size: 2.7rem;
    text-transform: uppercase;
}
.banner_slogan{
    font-size: 1.5rem;
    font-weight: 300;
}
.banner_preco{
    font-size: 1.7rem;
    color: var(--cor-quarta);
}
.banner_link{
    position: relative;
    margin-top: 1.5em;
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 2rem;
    transition: 0.2s ease-in-out;
}

.banner_link::after{
    content: "";
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 10%;
    border-radius: 1em;
    background-color: var(--cor-terciaria);
    transition: 0.2s ease-in-out;
}

.banner_link:hover{
    color: var(--cor-terciaria);
}
.banner_link:hover::after{
    width: 80%;
    transition: 0.2s ease-in-out;
}

.banner_link:hover > i{
    transform: translateX(4px);
    transition: 0.2s ease-in-out;
}

/*--------------------------------------------------------------------------*/
.subtitulo_categoria{
    color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    margin: 2em 0 0.5em;
}

.swiper-card .swiper-slide{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}
.swiper-card .swiper-slide:hover{
    border: 2px solid var(--cor-terciaria);
    transition: 0.3s;
}

.card1_image{
    width: 100%;
    aspect-ratio: 16/8;
    object-fit: cover;
    border-radius: 1em;
}
.jogo_preco{
    color: var(--cor-terciaria);
}

/*---------------------------------------------------------------*/
.swiper-grupo{
    justify-content: center;
    margin: 0 12vw 0;
}
.swiper-grupo .swiper-slide{
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
}
.swiper-grupo .swiper-slide:hover > .jogo_image{
    border-bottom: 3px solid var(--cor-terciaria);
    transition: 0.3s;
}

.swiper-grupo .jogo_image{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1em 1em 0 0;
    border-bottom: 3px solid transparent;
}
.grupo_nome{
    font-size: 16px;
}


/*--------------------------------------------------------------------*/


.swiper-poster .swiper-slide{
    display: flex;
    flex-direction: column;
}
.swiper-poster .swiper-slide img{
    width: 100%;
    aspect-ratio: 2/3;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
.swiper-poster .swiper-slide:hover > .poster_img{
    border-bottom: 3px solid var(--cor-terciaria);
    transition: 0.3s;
}