header{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 3;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria-glass);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 40px var(--cor-primaria-hover);
    color: var(--cor-terciaria);
    padding: 0 1em;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.container_imgs{
    height: 3em;
    margin: 0.5em 0;
}

.txt_cate{
    position: relative;
}

.categoria_container{
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
}

/*PRIMEIRO CONTAINER*/
.linkHome{
    display: flex;
    text-decoration: none;
    color: var(--cor-terciaria);
}
.opcoes{
    display: flex;
    list-style: none;
    gap: 1em;
    font-family: var(--fonte-nome);
    font-weight: 400;
}
.opcoes li{
    cursor: pointer;
}

#categoria{
    display: none;
}

.lista_menu{
    display: none;
    position: absolute;
    z-index: 9;
    top: 100%;
    width: auto;
    list-style: none;
    box-shadow: 0px 0px 20px var(--cor-primaria-hover);
}

.opcoes_btn:checked ~ .lista_menu{
    display: block;
}
.lista_menu_item{
    background-color: var(--cor-primaria-glass);
    backdrop-filter: blur(30px);
}
.lista_menu_link{
    padding: 0.5em;
    display: flex;
}
.lista_menu_item:hover{
    background-color: rgba(126, 122, 122, 0.61);
}

/*SEGUNDO CONTAINER*/
.content_pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_pesquisa{
    all: unset;
    height: 2em;
    min-width: 10em;
    border: 1px solid var(--cor-terciaria);
    border-radius: 1em 0em 0em 1em;
    padding-left: 1em;
}
.container_pesquisa::placeholder{
    color: var(--cor-terciaria);
}
.container_pesquisa:focus{
    border: 1px solid var(--cor-secundaria);
}

.content_pesquisa img{
    padding: 0 0.5em;
    height: 100%;
    border-radius: 0 1em 1em 0;
    border: 1px solid;
    cursor: pointer;
}
.content_pesquisa>img:active{
    background-color: var(--cor-primaria-hover);
}

/*TERCEIRO CONTAINER*/
/*Caso esteja logado*/
.container_logado{
    display: flex;
    align-items: center;
    gap: 1em;
}       /*foto de perfil*/
.logado_foto{
    width: 3em;
    border-radius: 10em;
    object-fit: cover;
    border: 2px solid var(--cor-secundaria-hover);
}

.container>a{
    display: flex;
    align-items: center;
}



/*caso não esteja logado*/
.container_login{
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-secundaria);
    padding: 0.5em 0.5em;
    border-radius: 2em;
    margin-right: 1em;
    cursor: pointer;
}

.container_login:hover{
    background-color: var(--cor-primaria-hover);
}

.container_login_img{
    height: 25px;
}

.container_login_txt{
    margin: 0;
}