header{
    position: sticky;
    top: 0;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    padding: 0.3em 1em;
    background-color: var(--cor-secundaria);
    color: var(--cor-quinta);
    border-bottom: 5px solid var(--cor-terciaria);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
}

/*PRIMEIRO CONTAINER*/

.container_menu_burguer{
    width: 40px;
    height: 30px;
    background-image: url(../imgs/menu_burguer.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-size: cover;
    margin-right: 3em;
    transition: 0.2s;
}

.container_menu_burguer:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.container input[type="checkbox"]{
    display: none;
}

.container_sidebar{
    display: flex;
    position: absolute;
    z-index: 3;
    top: 0;
    left: calc(0 - 1em);
    transform: translateX(-100%);
    width: 250px;
    height: 100vh;
    background-color: var(--cor-secundaria);
    transition: 0.5s;
}
.close{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: 1s;
}

.container_menu_burguer_btn:checked ~.container_sidebar{
    transform: translateX(0);
    transition: 0.5s;
}
.container_menu_burguer_btn:checked ~.container_sidebar_close>.close{
    background-color: rgba(0, 0, 0, 0.247);
    display: block;
    transition: 1s;
}

.linkHome{
    display: flex;
    text-decoration: none;
    color: var(--cor-quinta);
}

.linkHome_logo{
    height: 50px;
}

/*SEGUNDO CONTAINER*/

.container_pesquisa{
    all: unset;
    height: 2em;
    width: 30%;
    min-width: 10em;
    margin: 0 6em;
    border: 1px solid var(--cor-quinta);
    color: white;
    border-radius: 1em;
    padding-left: 1em;
}
.container_pesquisa::placeholder{
    color: rgba(255, 255, 255, 0.76);
}
.container_pesquisa:focus{
    border: 2px solid var(--cor-terciaria);
}

/*TERCEIRO CONTAINER*/
.container_logado{
    display: flex;
    align-items: center;
    gap: 1em;
}       /*foto de perfil*/
.logado_foto{
    height: 3em;
    width: 3em;
    border-radius: 10em;
    object-fit: cover;
    border: 2px solid var(--cor-quinta);
}

.container_login{
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-quarta);
    padding: 0.5em 0.5em;
    border-radius: 2em;
    cursor: pointer;
}

.container_login:hover{
    background-color: var(--cor-secundaria-hover);
}

.container_login_img{
    height: 25px;
}

.container_login_txt{
    margin: 0;
}