.container_profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em 5vw 5vh;
}

.card_profile {
    display: flex;
    flex-direction: column;
    flex: 1 1 20em;
    padding: 1em;
    align-items: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 2em;
}

.card_profile img {
    height: 15vh;
    aspect-ratio: 1/1;
    border: 3px double var(--cor-quarta);
    border-radius: 1em;
    object-fit: cover;
}

.card_profile sub {
    color: var(--cor-terciaria);
}

.card_profile a {
    margin-top: 0.3em;
    padding: 0.3em;
    background-color: red;
    border-radius: 0.5em;
}