.dev_titulo{
    text-align: center;
}

.container_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.opcoes_item{
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    flex-grow: 1;
    flex-basis: 28em;
    gap: 1em;
    border: 1px solid var(--cor-secundaria);
    border-radius: 1em;
    cursor: pointer;
}
.opcoes_item:hover{
    border: 3px double var(--cor-quinta);
}

