.dev_titulo{
    text-align: center;
}

.container_main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
    gap: 1em;
    padding: 1em;
}

.opcoes_item_dev{
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    flex-grow: 1;
    flex-basis: 28em;
    gap: 1em;
    border: 1px solid var(--cor-secundaria);
    border-radius: 1em;
    cursor: pointer;
}
.opcoes_item_dev:hover{
    border: 3px double var(--cor-quinta);
}

input[type="checkbox"]{
    display: none;
}

span{
    display: none;
    position: fixed;
    top: 50%;
    transform: translatey(-50%);
    background-color: var(--cor-primaria);
    border: 4px double var(--cor-secundaria);
}

#database:checked + .modal_database{
    display: block;
}

span .close{
    display: flex;
    border-bottom: 2px dashed var(--cor-secundaria);
    justify-content: space-between;
    padding: 0 1em;
    font-size: 1.5em;
}
.close .database_titulo{
    color: var(--cor-terciaria);
}
.close i{
    cursor: pointer;
    color: var(--cor-quarta);
}
.close i:active{
    color: var(--cor-quinta);
}


span img{
    padding: 2em;
    /*width: 45em;*/
    height: 70vh;
}

#paleta:checked + .modal_pallete{
    display: block;
}




