body {
    background-image: url(../imgs/wallpaper1.png);
}

header{
    position: fixed !important;
}

.container_pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 30vh 10vh 5vh;
    background: linear-gradient(0deg, rgba(0,9,14,1) 0%, rgba(0,9,14,0) 100%);}

.container_pagina >section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5em;
}

/*-----------------------------------------------------------------------*/

.linha{
    border: 1px solid;
    width: 80vw;
}

.section_pesquisar .pesquisar-titulo{
    font-size: 3.5rem;
    font-family: var(--fonte-titulo);
    color: var(--cor-terciaria-glass);
}

.section_pesquisar input[type="search"]{
    all: unset;
    border: 2px solid;
    width: 70vw;
    padding: 0.5em;
    border-radius: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    box-shadow: 0px 0px 10px black;
}
.section_pesquisar input[type="search"]::placeholder{
    font-weight: 400;
    color: var(--cor-quinta);
    background: url(../imgs/icon_lupa2.svg) no-repeat;
    background-position: 1em;
}
.section_pesquisar input[type="search"]:focus{
    border: 2px solid var(--cor-terciaria);
}

/*--------------------------------------------------------------------------------*/

.section_navegar .navegar-subtitulo{
    font-family: var(--fonte-nome);
    color: var(--cor-terciaria-glass);
}

.section_navegar .container_button{
    display: flex;
}
.container_button{
    gap: 3em;
}
.container_button .button_link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_link:hover{
    color: var(--cor-terciaria-glass);
}
.button_link i{
    font-size: 4rem;
}

/*-------------------------------------------------------------------------------*/

.categoria-subtitulo{
    font-family: var(--fonte-nome);
    color: var(--cor-terciaria-glass);
}

.section_categoria .lista_categorias{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.lista_categoria_link:hover{
    color: var(--cor-terciaria);
}
