input[type='radio'] {
    display: none; /* Oculta os inputs de rádio */
}

.option_plataform {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    padding-top: 5em;

}

.option_plataform label {
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.685);
    border: 2px solid;
    border-radius: 1em;
}

.option_plataform label:hover {
    color: var(--cor-secundaria);
}

/* Muda a cor da label correspondente ao rádio selecionado */
#cat1:checked ~ .option_plataform label:nth-child(1),
#cat2:checked ~ .option_plataform label:nth-child(2),
#cat3:checked ~ .option_plataform label:nth-child(3),
#cat4:checked ~ .option_plataform label:nth-child(4),
#cat5:checked ~ .option_plataform label:nth-child(5){
    color: var(--cor-secundaria);
}

.container_slides {
    display: flex;
}

/* Esconde todas as plataformas por padrão */
.plataforma {
    display: none;
    width: 100%;

}

/* Mostra a plataforma correspondente ao rádio selecionado */
#cat1:checked ~ .container_slides #playstation,
#cat2:checked ~ .container_slides #xbox,
#cat3:checked ~ .container_slides #nintendo,
#cat4:checked ~ .container_slides #computer,
#cat5:checked ~ .container_slides #mobile {
    display: flex; /* Exibe a div correspondente */
    flex-direction: column;
}

.plataforma_banner{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    aspect-ratio: 16/3.5;
    margin: 0 2em;
}
.plataforma_titulo{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--cor-secundaria);
}
.categoria_slogan{
    padding-left: 2em;
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

.plataform_container_cate{
    margin: 2em 0;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-terciaria);
    font-size: 2.5em;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    content: "";
}
.swiper-button-next:active,
.swiper-button-prev:active{
    color: var(--cor-primaria);
}

.card_jogo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
}

.card_jogo:hover{
    border: 1px solid var(--cor-secundaria);
    transition: 0.3s;
}
.card_jogo img{
    border-radius: 1em;
    margin-bottom: 0.2em;
    width: 100%;
    aspect-ratio: 16/9;
}

.card_nome{
    font-family: var(--fonte-nome);
    font-size: 1.4rem;
}

.card_categoria{
    color: var(--cor-secundaria);
    font-weight: 300;
}

.card_preco{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--cor-secundaria);
    font-family: var(--fonte-titulo1);
}

.card_link{
    text-align: center;
    background-color: greenyellow;
    color: var(--cor-primaria);
    border-radius: 0.5em;
}