.content_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 2em;
    gap: 1em;
}

.card_jogo{
    border: 2px solid var;
    width: 15em;
}

.card_jogo img{
    width: 100%;
    aspect-ratio: 2/3;
    border: 3px solid transparent;
    transition: 0.2s;
}
.card_jogo:hover > img{
    border-bottom: 3px solid var(--cor-secundaria);
    transition: 0.2s;
}