.container_resul{
    display: flex;
    justify-content: center;
}

.content_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 2em;
    gap: 2em;
}

.card_jogo{
    flex-basis: 14.5em;
    flex-basis: 1;
    cursor: pointer;
}

.card_jogo img{
    width: 100%;
    aspect-ratio: 2/3;
    border: 3px solid transparent;
    transition: 0.2s;
}
.card_jogo:hover > img{
    border-bottom: 3px solid var(--cor-secundaria);
    transition: 0.2s;
}

.jogo_nome{
    font-family: var(--fonte-nome);
}

.jogo_preco{
    color: var(--cor-secundaria);
}

.container_plataformas{
    display: flex;
}

.container_cate_plata{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container_plataformas img{
    height: 1.5em;
    aspect-ratio: 1/1;
}