.container-perfil {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10vh 5vw 5vh;
    width: 100vw;
    height: 100vh;
    border: 2px solid;
    overflow: hidden;
}

.perfil-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--cor-secundaria);
    border-radius: 2em;
    gap: 1em;
    width: 100%;
    padding: 1.5em;
}

.user_data{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.user_data_foto{
    display: flex;
    flex-direction: column;
}

.user_foto {
    border: 3px double var(--cor-quinta);
    border-radius: 1em;
    height: 10em;
    aspect-ratio: 1/1;
}

.user_data_content p{
    color: var(--cor-secundaria);
    font-size: 12px;
    margin-top: 1em;
}

.user_editar {
    text-align: center;
    padding: 0.5em 0;
    width: 10em;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}


.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

/*----------------------------------------------------------------*/

.perfil-jogos{
    height: 100%;
}
.container_jogos{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.container_jogos::-webkit-scrollbar{
    display: none;
}