.container-perfil {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10vh 5vw 0vh;
    width: 100vw;
    height: 100vh;
}



.perfil-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-gradiente-um);
    border-radius: 2em;
    gap: 1em;
    width: 100%;
    padding: 1.5em;
}

.user_data{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.user_data_foto{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.user_data_foto div{
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}
.user_data_foto div a{
    padding: 0.2em;
    font-size: 1.1rem;
}

.user_excluir{
    background-color: var(--cor-quarta);
}

.user_perfil{
    color: var(--cor-quinta);
    border: 2px solid;
    font-weight: 500;
    flex-grow: 1;
    text-align: center;
}

.user_foto {
    border: 3px double var(--cor-quinta);
    border-radius: 1em;
    height: 10em;
    aspect-ratio: 1/1;
}

.user_data_content p{
    color: var(--cor-secundaria);
    font-size: 12px;
    margin-top: 1em;
}

.user_editar {
    text-align: center;
    padding: 0.5em 0;
    width: 10em;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}


.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

/*----------------------------------------------------------------*/

.perfil-jogos{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0;
}
.container_jogos{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 1em;
}
.container_jogos::-webkit-scrollbar{
    display: none;
}

.card-jogo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 27em;
    gap: 1em;
    padding: 0.5em;
    border-radius: 1em;
    background: var(--cor-gradiente-dois);
}
.card-jogo_image{
    aspect-ratio: 1/1;
    height: 20vh;
    border-radius: 1em;
}

.card-jogo_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
}

.info_main{
    display: flex;
    flex-direction: column;
}

.info_links{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.link_play{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 0.5em 0;
    text-align: center;
}