
:root{
    --cor-primaria: #000e18;    /*cor de fundo*/
    --cor-primaria-hover: #011a2c;
    --cor-primaria-glass: #01213a77;
    --cor-secundaria: #d3e538;
    --cor-secundaria-hover: #c8d836;
    --cor-terciaria: #f8ffe9;   /*cor da fonte*/
    --cor-quarta: #c1292e;
    --cor-quinta: #f1d302;
    --fonte-principal: "Poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    position: relative;
    z-index: -2;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--cor-quinta);
}