    body {
    background-image: url(../imgs/wallpaperSunset.png);
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.homeLink {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    font-size: 2.5rem;
    transition: 0.3s;
}

.homeLink:hover {
    color: var(--cor-terciaria);
    transition: 0.3s;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 50%;
    padding: 15vh 5vw 10vh;
    background-color: var(--cor-secundaria-glass);
}

.banner_titulo {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    font-family: var(--fonte-titulo);
}

.banner_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.banner_link a {
    border: 2px solid;
    padding: 0.5em 4em;
    border-radius: 3em;
    font-size: 1.3rem;
    transition: 0.5s;
}

.banner_link a:hover {
    color: var(--cor-terciaria);
    transition: 0.5s;
}

/*---------------------------------------------------------*/

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    width: 50%;
}
.formulario_titulo{
    font-family: var(--fonte-nome);
}

.formulario_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1rem;
}

.formulario_content>label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 8em;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 3px double var(--cor-terciaria);
    margin: 0.5em 0 1em;
    text-align: center;
    cursor: pointer;
    color: var(--cor-quinta) !important;
}

#image_profile {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.formulario_content form {
    display: flex;
    flex-direction: column;
}

.formulario_content label,
.ocupacao {
    color: var(--cor-terciaria);
}

.formulario_content form input[type='file'] {
    display: none;
}

.formulario_content form input[type='text'],
input[type='password'], input[type='email'] {
    all: unset;
    width: 20em;
    padding: 0.3em 0 0.3em 1em;
    border: 2px solid rgba(255, 255, 255, 0.507);
    border-radius: 1em;
    margin-bottom: 1em;
}

.formulario_content form input[type='text']:focus,
input[type='password']:focus, input[type='email']:focus{
    border: 2px solid var(--cor-terciaria);
}

.container_password{
    position: relative;
}

#exibir_olho{
    position: absolute;
    right: 0.5em;
    bottom: 50%;
    cursor: pointer;
}

/*------------------------------------------------------------------*/

.lbl_ocupacoes{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.lbl_ocupacoes label{
    text-align: center;
    flex: 1 1 5em;
    padding: 0.3em;
    color: var(--cor-quinta);
    cursor: pointer;
    border-radius: 2em;
}

.formulario_content form input[type='radio'] {
    display: none;
}
.formulario_content form input[type='radio']:checked + label{
    border: 2px solid var(--cor-terciaria);

}

/*----------------------------------------------------------------------*/

.enviar_btn {
    text-align: center;
    background-color: var(--cor-terciaria);
    margin-top: 1em;
    padding: 0.5em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.enviar_btn p {
    color: var(--cor-primaria);
}