body{
    background-image: url(../imgs/starwarsWallpaper.jpeg);
}

.container{
    display: flex;
    height: 100vh;
}
.container_child{
    width: 50%;
    height: 100%;
}

.homeLink{
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    font-size: 2.5rem;
    border-radius: 1em;
    transition: 0.3s;
}
.homeLink:hover{
    color: var(--cor-secundaria);
    transition: 0.3s;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 25vh 5% 25vh;

}
.container_texto{
    margin-bottom: 2em;
}

.texto_titulo{
    letter-spacing: 0.1em;
    font-size: 32px;
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
}


.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    gap: 1em;
}

/* formataçao dos input */
.form_email, .form_pass, .form_submit{
    all: unset;
    background-color: var(--cor-primaria);
    padding: 1em 0 1em 1em;
    border-radius: 3em;
    width: 100%;
}

.form_email,
.form_pass{
    position: relative;
    border: 1px solid var(--cor-terciaria);
}
.form_email:focus,
.form_pass:focus{
    border: 1px solid var(--cor-secundaria);
}

.password_container{
    position: relative;
}
.form_email::placeholder{
    background: url(../imgs/icon_email.svg) no-repeat left center;
    padding: 2em;
}

.form_pass::placeholder{
    padding: 2em;
    background: url(../imgs/icon_senha.svg) no-repeat left center;
}

#exibir_olho{
    position: absolute;
    bottom: 25%;
    right: 0em;
    font-size: 24px;
    color: var(--cor-secundaria);
    cursor: pointer;
}

.form_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    cursor: pointer;
}
.form_submit:hover{
    background-color: var(--cor-quinta);
}


/*BANNER LATERAL*/

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 25vh 5% 25vh;
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria-glass);

}

.banner_texto{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.banner_vantagens{
    display: flex;
    gap: 2em;
}

.banner_vantagens_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6em;
}
.banner_vantagens_item img{
    background-color: var(--cor-primaria);
    padding: 0.8em;
    border: 2px solid var(--cor-quinta);
    border-radius: 4em;
}

.banner_link{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2em;
}
.banner_link input{
    accent-color: var(--cor-secundaria);
}

.link_btn{
    padding: 0.5em 1em;
    border-radius: 5em;
    border: 2px solid;
    transition: 0.5s;
}
.link_btn:hover{
    color: var(--cor-secundaria);
    transition: 0.5s;
}

